@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert2/dist/sweetalert2.min";
@import "node_modules/jquery-hashtags/css/jquery.hashtags.min";
@import 'node_modules/animate.css/animate.min';
@import 'icons';
@import "variables";
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}
body {
	font-size: 14px;
	line-height: 1.625;
	font-family: "Roboto","Oxygen","Cantarell","Open Sans","Helvetica Neue","Ubuntu",sans-serif;
	font-weight: 400;
	color: $black;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	padding-top: 60px;
	overflow-x: hidden;
/*
background: #eaeef1;
	background: #f3f5f9;
	background: #f7f8ff;
	background: #F4F4F6;
background: #f6f9fc;
background: #F9F9F9;
background: #FAFAFA;
background: $white;
background: #f9f9fb;
background: #f4f6f8;
background: #eff2f7;
background: #f7f8fa;
background: #f3f5f7;
background: #eceff1;
background: #e3ebee;
background: #f2f8fa;
background: #F9F9F9;
background: #FAFCFD;
background: #f5f6fa;
	background: #f4f4f4;
	background: #f6f7f8;
	background: #ebf0f2;
	background: #F3F5F6;
	background: #dee6e9;
	background: #f9fafc;
	background: #e6eaf0;
	background: #F5F5F5;
	*/
	background: #F9F9F9;
}
main.main {
	animation: fadein 1s, slideLeft .15s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s, slideLeft .15s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}
a {
	color: $primary;
	transition: color .2s ease-in-out,opacity .2s ease-in-out;
	&:hover {
		text-decoration: none;
	}
}
.middle {
	vertical-align: middle !important;
}
svg {
	vertical-align: middle;
}
svg path,
svg circle {
	transition: fill .2s ease-in-out;
	-webkit-transition: fill .2s ease-in-out;
	-o-transition: fill .2s ease-in-out;
	-moz-transition: fill .2s ease-in-out;
}
*[data-toggle='modal'] {
	cursor: pointer;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #000;
}
.tooltip-inner {
	background: #000;
}
.open > .dropdown-menu {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);  
	opacity:1;
}

.dropdown-menu {
	opacity:.3;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;  
	-moz-animation-fill-mode: forwards;  
	animation-fill-mode: forwards; 
	-webkit-transform: scale(1, 0);
	-moz-transform: scale(1, 0);
	display: block; 
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}
.form-control {
	height: 38px;
	border-color: rgba(185,193,199,0.5);
	padding: 6px 10px;
	box-shadow: none;
	border-radius: 0;
	font-size: 15px;
	&:focus {
		border-color: #6772e5;
		box-shadow: none;
	}
}
.floating-post {
	color: $white;
	background: #6772e5;
	line-height: 52px;
	width: 52px;
	height: 52px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	text-align: center;
	border: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	path {
		fill: $white;
	}
}
/*
span.love {
cursor: pointer;
height: 50px;
width: 50px;
background-image:url('/images/heart_animation.png');
background-position: left;
background-repeat:no-repeat;
background-size:2900%;
transition: none;
-moz-transition: none;
-webkit-transition: none;
display: inline-block;
&:hover,
&.ed {
background-position:right;
}
&.is-animating {
animation: heart-burst .8s steps(28) 1;
}
}
*/
@keyframes heart-burst {
	from {background-position:left;}
	to { background-position:right;}
}
.pagination {
	display: none;
}
.btn {
	border: 0;
	border-radius: 3px;
	outline: none;
	&.btn-primary {
		background: #e7f5fe;
		background: $primary;
		color: $white;
		border-radius: 40px;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0.071em;
		path {
			fill: $white;
		}
		&.btn-primary-new {
			background: $primaryNew;
		}
	}
	&.btn-success {
		background: $success;
	}
	&.btn-facebook {
		background: $facebook;
		color: $white;
	}
	&.btn-twitter {
		background: $twitter;
		color: $white;
	}
	&.btn-google {
		background: $google;
		color: $white;
	}
	&.follow {
		padding: 8px 42px 8px;
		font-weight: 500;
		border-radius: 30px;
		box-shadow: 0 1px 4px #2da0e2 inset;
		&.ed {
			background: #1f2c5e;
			box-shadow: none;
		}
	}
	&:hover {
		transform: translateY(-1px);
		-moz-transform: translateY(-1px);
		-webkit-transform: translateY(-1px);
		box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
		-moz-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
		-webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
	}
	&:active {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
		box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	}
}
.hero.landingscreen {
	h1 {
		font-size: 120%;
		font-size: 3vw;
		margin-bottom: 40px;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	h3 {
		font-size: 1.3vw;
		font-weight: 100;
		span {
			vertical-align: middle;
			position: relative;
			font-size: 1vw;
			top: 3px;
			margin: 0 15px;
		}
	}
}
.hero.fullscreen {
	min-height: 100vh;
	margin: -60px 0 0 !important;
	overflow: hidden;
	figure {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: $black;
		}
	}
	h1 {
		font-size: 120%;
		font-size: 5vw;
		margin-bottom: 40px;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-shadow: 0 0 20px #585858;
	}
	.top-nav {
		background: rgba(0, 0, 0, 0.2);
		position: fixed;
		padding: 10px 0 10px 15px;
		line-height: 30px;
		top: 0;
		z-index: 5;
		width: 100%;
		&.login {
			background: $primaryNew;
		}
	}
	.btn-login {
		//background: $success;
		color: $white;
		background: $primaryNew;
		padding: 0 15px;
		line-height: 40px;
		border: 0;
		border-radius: 4px;
		font-size: 13px;
		text-transform: uppercase;
		border-radius: 40px;
		padding: 12px 24px;
		letter-spacing: 0.071em;
		line-height: 1.3 !important;
	}
	.top-nav {
		letter-spacing: 0.3px;
		.top-nav-brand {
			margin-right: 8px;
		}
		a {
			font-weight: 500;
			line-height: 40px;
			color: $white;
			text-shadow: none;
			+ a {
				margin-left: 15px;
				margin-right: 15px;
			}
			path,
			circle {
				fill: $white;
				margin-right: 5px;
			}
		}
		.btn.login {
			font-size: 20px;
			padding: 15px 70px;
			background: linear-gradient(35deg, #b73183 5%, #c13678 30%, #db5453 85%);
			display: inline-block;
			path {
				fill: $white;
			}
		}
	}
	.what,
	.what:hover,
	.what:active,
	.what:focus {
		line-height: 1.45;
		color: $white;
		text-shadow: none;
		background: rgba(0, 0, 0, 0.25);
	}
}
#whatIsModal {
	.white-card {
		background: #FFF;
		padding: 40px;
	}
	.white-card + .white-card {
		margin-top: 10px;
	}
	.modal-body {
		background: #e6eaf0;
	}
	.modal-body h2 {
		margin: 0 0 20px;
	}
	.modal.in .modal-dialog {
		transform: translate(0, 0%);
		-webkit-transform: translate(0, 0%);
	}
}
#suggestionsModal {
	z-index: 9999;
	.modal-body {
		background: #FFF;
		padding: 20px;
	}
	.form-control {
		font-size: 14px;
		resize: none;
	}
	.modal-footer {
		padding: 20px;
		background: #F2F2F2;
		border: 0;
	}
}
.login-bg {
	background: #F5F7FA;
	background: linear-gradient(315deg, #BE9FE0 0%, #16C8F0 100%);
	position: absolute;
	height: 100%;
	width: 100%;
}
.social-login-page {
	position: absolute;
	z-index: 1;
	background: $white;
	max-width: 400px;
	padding: 40px;
	border-radius: 20px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 302px;
	margin: auto;
	border: solid 1px #E1E8ED;
	box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);
	h3 {
		font-size: 20px !important;
		font-weight: 400;
		position: relative;
		margin: 0 0 40px;
		&:before {
			content: '';
			width: 2rem;
			height: 3px;
			background-color: $primary;
			display: block;
			left: 0;
			position: absolute;
			bottom: -1.5rem;
		}
	}
	a {
		text-decoration: underline;
	}
	.btn {
		text-shadow: none;
		text-decoration: none;
	}
}
.modal-backdrop {
	background: $black;
	opacity: 0.8;
}
#loginModal .modal.in .modal-dialog {
	transform: translate(0, 60%);
}
#loginModal .modal-dialog {
	max-width: 400px;
}
.modal-content {
	box-shadow: 0 0 32px 0 rgba(0,0,0,.15);
	border: 0;
	border-radius: 20px;
	overflow: hidden;
}
.modal-header {
	padding: 20px 30px;
	border: 0;
	color: $black;
	.close {
		font-size: 22px;
		font-weight: normal;
		border-radius: 50%;
		opacity: 1;
		text-shadow: none;
		color: $white;
		width: 32px;
		height: 32px;
		margin: 0;
		position: absolute;
		top: 13px;
		right: 13px;
	}
	.modal-title {
		line-height: 1;
	}
}
.modal-body {
	padding: 30px;
	background: #e6eaf0;
	.nav-pills {
		margin-bottom: 30px;
		> li {
			margin-right: 20px;
			> a {
				line-height: 30px;
				border-radius: 0;
				font-weight: 600;
				padding: 0;
			}
			&.active,
			&:hover {
				a {
					background: none;
					box-shadow: 0 1px 0 $primary;
					color: $primary;
				}
			}
		}
	}
}
.social-login,
.social-login-page {
	.btn-block {
		padding: 7px 10px 7px 16px;
		line-height: 36px;
		position: relative;
		letter-spacing: .05rem;
		margin: 0 0 20px;
		font-size: 18px;
		border-radius: 40px;
		path {
			fill: #999;
		}
		i {
			position: absolute;
			left: 25px;
			top: 4px;
			height: 50px;
			line-height: 50px;
			color: $white;
			font-size: 20px;
			vertical-align: middle;
		}
	}
}
.text-muted {
	color: #acacaf;
}
.text-gray {
	color: #acacaf;
	&.hover {
		cursor: pointer;
		&:hover {
			color: #999;
		}
	}
}
.navbar-default {
	border: 0;
	.navbar-toggle {
		margin: 14px 0;
		border: 0;
		.icon-bar {
			background: $white;
		}
	}
}

.feedback-brand {
	position: absolute;
	top: 18px;
	left: 30px;
	z-index: 1;
}
.navbar,
.suggest-toolbar {
	padding: 0 16px;
	margin: 0;
	top: 0;
	/*background: #1e2c3d;
	background: #475bc2;
	background: #1e2327;
	background: #45c8dc;
	background: $white;
	background: #7e5bef;
	background: #38454a;*/
	background: #2b333e;
	background: #1d2229;
	background: #121212;
	border-radius: 0;
	border-bottom: 0;
	position: fixed;
	width: 100%;
	//box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px, rgba(0, 0, 0, 0.0588235) 0px 2px 4px 0px;
	//rgb(229, 231, 241) 0 1px 0 0, rgb(228, 230, 239) 0 2px 4px 0
	//box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
	//box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
	//box-shadow: 0 4px 4px -2px rgba(0,0,0,0.09);
	opacity: .97;
	.navbar-right {
		position: relative;
		z-index: 1;
	}
	.navbar-brand {
		height: auto;
		padding: 14px 0;
		margin-right: 5px;
		font-smoothing: initial;
		-moz-font-smoothing: initial;
		-webkit-font-smoothing: initial;
	}
	.navbar-form {
		padding: 10px 0;
		margin: 0;
		position: relative;
		overflow: hidden;
		max-width: 100%;
		.powered-by {
			position: absolute;
			right: 15px;
			top: 18px;
			opacity: .3;
			color: $white;
		}
		i {
			position: absolute;
			color: $gray;
			font-weight: bold;
			font-size: 16px;
			margin-top: 9px;
			left: 15px;
		}
		input {
			color: $black;
			box-shadow: none;
			border: 0;
			background: transparentize($white, .85);
			border: 0;
			width: 100%;
			padding-left: 39px;
			font-weight: 400;
			height: 40px;
			border-radius: 30px;
			box-shadow: none;
			&:focus,
			&.has-query {
				box-shadow: 0 0 0 1px $primary inset;
				background: $white;
				+ .powered-by {
					opacity: .7;
					color: $black;
				}
			}
			&::placeholder {
				color: $gray;
			}
			&::-webkit-input-placeholder {
				color: $gray;
			}
			&::-moz-placeholder {
				color: $gray;
			}
			&:-ms-input-placeholder {
				color: $gray;
			}
			&:-moz-placeholder {
				color: $gray;
			}
		}
	}
	.navbar-nav {
		&.menu {
			margin: 0 5px;
		}
		.dropdown-menu {
			border: 0;
			> li {
				position: relative;
				a {
					line-height: 40px;
					max-height: 40px;
					margin: 0;
					padding: 0 15px;
					color: #6b7c82;
					&:hover {
						background: #ebf0f2;
						color: #38454a;
					}
				}
			}
		}
		li {
			.noti-count {
				font-size: 11px;
				line-height: 2;
				background: #fc123d;
				border-radius: 3px;
				display: block;
				color: #fff;
				font-weight: 700;
				margin-top: 5px;
				padding: 0px 7px;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				position: absolute;
				left: 50%;
				top: 100%;
				&:after {
					border: 3px solid transparent;
					border-top-width: 0;
					border-bottom-color: #fc123d;
					content: "";
					left: 50%;
					bottom: 100%;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					position: absolute;
				}
			}
			a {
				margin: 0 12px;
				padding: 0;
				line-height: 60px;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 500;
				max-height: 70px;
				color: transparentize($white, .35);
				letter-spacing: .3px;
				path,
				circle {
					fill: $white;
				}
				&:hover,
				&:active,
				&:focus {
					background: none;
					color: $white;
				}
				&.login {
				//background: #ff7408;
				//background: $primary;
				color: $white;
				background: $primaryBtn;
				background: $primaryNew;
				margin: 10px 0 0px 20px;
				padding: 0 15px;
				line-height: 40px;
				border: 0;
				font-weight: 500;
				border-radius: 4px;
				font-size: 13px;
				text-transform: uppercase;
				border-radius: 40px;
				padding: 12px 24px;
				font-weight: 500;
				letter-spacing: 0.071em;
				line-height: 1.3;

			}
			&.noti {
				background: #333;
				width: 32px;
				height: 32px;
				padding: 5px 0;
				border-radius: 50%;
				text-align: center;
				line-height: 1;
				margin: 14px 0;
				path {
					fill: $white;
				}
				&.has-notifications {
					path {
						fill: $white;
					}
				}
			}
			&.post {
				color: $white;
				background: $primaryNew;
				margin: 10px 18px;
				line-height: 40px;
				border-radius: 25px;
				border: 0;
				font-weight: 700;
				padding: 0 20px;
				font-size: 12px;
				text-align: center;
				path {
					fill: $white;
					margin-right: 5px;
				}
				&:hover {
					background: darken($primaryNew, 10%);
				}
			}
			&.dropdown-toggle {
				padding: 0 15px;
				margin: 0;
			}
		}
		&.active {
			a {
				color: $white;
				box-shadow: 0 -1px 0 inset;
				background: none;
				&:hover,
				&:active,
				&:focus {
					color: $white;
					background: none;
				}
			}
		}
		&.user-dd {
			i {
				font-size: 16px;
				vertical-align: middle;
				margin-left: 5px;
				display: inline-block;
			}
		}
		&:hover {
			.dropdown-menu {
				display: block;
				-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
				opacity: 1;
			}
		}
	}
}
}
.subnav {
	background: $white;
	padding: 0 15px;
	overflow: hidden;
	height: 45px;
	white-space: nowrap;
	//box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 2px 4px 0 rgba(0,0,0,.06);
	position: relative;
	z-index: 1 !important;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	.gradient-left,
	.gradient-right {
		bottom: 0;
		height: 50px;
		position: absolute;
		z-index: 1;
	}
	.gradient-left {
		background: linear-gradient(90deg,$white 0,hsla(0,0%,100%,0));
		left: -1px;
		width: 11px;
	}
	.gradient-right {
		background: linear-gradient(270deg,$white 0,hsla(0,0%,100%,0));
		right: 10px;
		width: 26px;
	}
	ul {
		margin: 0;
		overflow: auto;
	}
	li {
		padding: 0;
		line-height: 45px;
		margin-right: 15px;
		a {
			padding: 0 30px;
			display: inline-block;
			color: $primary;
			color: transparentize($black, .5);
			font-size: 12px;
			vertical-align: middle;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .05rem;
			line-height: 43px;
			&:hover {
				color: $black;
				background: $white;
			}
		}
		&.active {
			a {
				color: $black;
				box-shadow: 0 -2px 0 0px $primary inset;
			}
		}
	}
	.seperator {
		height: 20px;
		width: 1px;
		background: #2d3341;
		background: rgba(71, 91, 194, 0.25);
		display: inline-block;
		vertical-align: middle;
	}
}
.page-header {
	border: 0;
	padding: 0;
	margin: 20px 0 20px 30px;
	h1 {
		font-weight: normal;
		color: #999;
		color: $black;
		margin: 0;
		padding: 0;
		font-size: 3.4rem;
		text-transform: capitalize;
	}
	h4 {
		color: #039BE5;
		margin: 40px 0;
	}
}
.hero {
	height: 400px;
	position: relative;
	margin-bottom: 24px !important;
	figure {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #eee 50% 50% / cover; 
		background: $white;
		background-size: cover;
		background-position: 50%;
		-webkit-transition: opacity .4s ease;
		transition: opacity .4s ease;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: 0;
			content: "";
			height: 100%;
			width: 100%;
			background: linear-gradient(315deg, #E09FB4 0%, #9B7BB8 100%);
			background: #3e4a4f;
			opacity: .3;
		}
	}
	h1 {
		font-size: 46px;
		font-weight: 300;
		margin-top: 0;
	}
	h3 {
		font-size: 2vw;
		font-weight: 100;
		span {
			vertical-align: middle;
			position: relative;
			font-size: 1.5vw;
			top: 3px;
			margin: 0 20px;
		}
	}
	.btn.login {
		font-size: 18px;
		padding: 12px 70px;
		background: linear-gradient(35deg, #b73183 5%, #c13678 30%, #db5453 85%);
		display: block;
		margin: 50px auto 20px;
		path {
			fill: $white;
		}
		&:hover,
		&:focus,
		&:active {
			color: $white;
			outline: 0;
		}
	}
	.learn-more {
		font-size: 12px;
		color: $white;
		display: block;
		line-height: 1;
	}
	.caption {
		color: $white;
		position: relative;
		top: 50%;
		left: 40px;
		margin: 0;
		max-width: calc(100% - 40px);
		font-size: 5.8rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	&.quest-hero {
		img {
			max-width: 400px;
		}
	}
	&.profile-hero {
		height: auto;
		position: relative;
		border-top: 1px solid #ebf0f3;
		margin:15px;
		margin: 0 0 15px;
		.profile-meta {
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
			position: relative;
			-webkit-box-flex: 1;
			flex-grow: 1;
			margin: auto;
			overflow-x: hidden;
			padding: 20px;
			color: #fff;
			* {
				color: $black;
			}
			.follow {
				color: $white;
				padding: 3px 22px 3px;
			}
			.name {
				font-size: 18px;
				font-weight: 500;
				margin-right:5px;
			}
			.meta {
				margin-top: 10px;
				h1 {
					font-weight: 100;
					margin-bottom: 30px;
				}
				li {
					font-size: 14px;
					vertical-align: middle;
					border-right: 2px solid #f0f0f0;
					padding: 0px 15px 0px 15px;
					text-align: center;
					&:first-child {
						padding-left: 0;
					}
					a {
						display: block;
					}
					&:last-child {
						border-right: 0;
						margin: 0;
					}
				}
				strong {
					margin-right:5px;
					font-size: 2rem;
					color: $primary;
					vertical-align: middle;
				}
			}
		}
		figure:before {
			background: $white;
		}
		.avatar-holder {
			overflow: hidden;
			position: relative;
			z-index: 1;
			width: 64px;
			margin: 0 20px 0 0;
			img {
				max-height: 72px;
				max-width: 72px;
			}
		}
	}
	margin-bottom: 40px;
	&.halfscreen {
		min-height: 50%;
	}
}

.profile-share-buttons {
	position: absolute;
	top: calc(50% - 16px);
	right: 40px;
	z-index: 1;
	a {
		height: 32px;
		width: 32px;
		margin-left: 10px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.2);
		float: right;
		line-height: 40px;
		color: #FFF;
		font-size: 18px;
		&.fb {
			background: $facebook;
		}
		&.tw {
			background: $twitter;
		}
		&.pint {
			background: $pinterest;
		}
	}
}
#particleJS {
	position: absolute;
	opacity: .5;
	width: 100%;
	height: 100%;
}
.quest-share-buttons {
	margin-top: 20px;
	a {
		display: inline-block;
		height: 38px;
		line-height: 44px;
		width: 48px;
		background: $white;
		text-align: center;
		color: $twitter;
		&:first-child {
			border-radius: 24px 0 0 24px;
			color: $facebook;
		}
		&:last-child {
			border-radius: 0 24px 24px 0 !important;
			color: $pinterest;
		}
	}
}
.quest-title {
	background: $white;
	margin: -24px 0 0;
	padding: 50px 0;
	position: relative;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.12);
	h1 {
		margin: 0 0 10px;
		font-weight: 400;
	}
}
.quest-content {
	background: $white;
	padding: 40px 15px 80px;
	font-size: 16px;
	.quest-box {
		background: #FAFCFD	;
		margin-top: 40px;
		padding: 20px;
		//box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
		+ .quest-box {
			margin-top: 20px;
		}
		h3 {
			font-weight: 400;
			margin: -20px -20px 20px;
			padding: 15px;
			background: #d0d9de;
			color: $black;
		}
		h4 {
			color: darken($primary, 20%);
		}
		strong {
			font-weight: 500;
		}
	}
	.submit-arts {
		margin-top: 40px;
		position: fixed;
		box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
		bottom: 40px;
		right: 40px;
		border-radius: 40px;
		padding: 12px 24px;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0.071em;
		path {
			fill: $white;
		}

	}
}
.ias-spinner, .ias-noneleft {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	margin-left: -16px;
}
.ias-spinner {
	img {
		border-radius: 50%;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		width: 30px;
		height: 30px;
	}
}
.stacker-streamline {
	.stacker {
		padding: 20px;
		overflow: hidden;
		background: #FAF7EB !important;
		* {
			color: $black;
		}
		.content {
			position: relative;
			z-index: 1;
			.avatar-wrapper {
				margin-bottom: 20px;
				margin-right: 20px;
			}
			h4 {
				margin: 0;
			}
			.meta {
				margin-left: 95px;
				ul {
					display: block;
					padding: 15px 0 0;
					margin-top: 20px;
					border-top: 1px dashed rgba(0, 0, 0, 0.2);
				}
				small {
					opacity: .7;
					margin-left:5px;
				}
			}
		}
		.follow-action {
			position: absolute;
			right: -20px;
			top: -20px;
			.follow {
				display: block;
				border: 0;
				background: $success;
				color: $white;
				padding: 2px 10px;
				font-size: 12px;
				&.ed {
					background: #f1ead1;
					color: #5a4b0e;
				}
			}	
		}
	}
}
.streamline {
	position: relative;
	padding: 0 0 100px;
	margin: 0 0 0 48px;
	font-size: 15px;
	color: $black;
	.stream {
		opacity: 0;
		position: relative;
		background: $white;
		//box-shadow: 0 0 1px rgba(0,0,0,0.3);
		//box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		//box-shadow: 0 2px 4px rgba(50,50,93,.1);
		//box-shadow: 0 0.5em 1.5em 0 rgba(0,0,0,.1);
		//box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
		//box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		//border: 16px solid $white;
		//box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
		margin-bottom: 16px;
		&:hover {
			box-shadow: 0 18px 35px rgba(50,50,93,.1);
		}
		&.opacity1 {
			opacity: 1;
		}
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 20px;
			background-image: -webkit-linear-gradient(top,rgba(0,0,0,.25),transparent 40%,transparent 60%,rgba(0,0,0,.3));
			background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,transparent 40%,transparent 60%,rgba(0,0,0,.3));
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			cursor: pointer;
			.opaque {
				opacity: 0;
				.btn-follow {
					padding: 0;
					background: linear-gradient(150deg,#2c84ff 15%,#05d5ff 70%);
					vertical-align: middle;
					border: 0;
					border-radius: 50%;
					margin: 2px 0 0 5px;
					outline: none;
					height: 18px;
					width: 18px;
					line-height: 1;
					padding: 1px;
					svg {
						display: block;
					}
					path {
						fill: $white;
					}
					&:hover {
						path {
							fill: $white;
						}
					}
					&.ing {
						path {
							fill: #6f6f6f;
						}
					}
				}
			}
		}
		.rated {
			font-size: 20px;
			position: relative;
			z-index: 1;
			line-height: 1;
			padding:5px;
			background: rgba(255, 255, 255, 0.5);
			border-radius:2px;
			text-shadow: 0 1px 0px rgba(255, 255, 255, 0.45);
			path {
				fill: $white;
			}
		}
		.overlay > a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			cursor: zoom-in;
		}
		.views {
			color: transparentize($white, .10);
			display: block;
			background: rgba(0, 0, 0, 0.3);
			padding: 5px 10px;
			line-height: 1;
			border-radius: 40px;
			path {
				fill: transparentize($white, .10);;
			}
		}
		.btm {
			-webkit-transition: opacity .3s,-webkit-transform .3s;
			transition: opacity .3s,-webkit-transform .3s;
			transition: transform .3s,opacity .3s;
			transition: transform .3s,opacity .3s,-webkit-transform .3s;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: calc(100% - 40px);
		}
		.btn-action-btn {
			background: $white;
			margin-left: 10px;
			border-radius: 4px;
			line-height: 50px;
			color: #777;
			cursor: pointer;
			position: relative;
			z-index: 1;
			width: 50px;
			text-align: center;
			padding: 0 0px;
		}
		.btn-action-btn i {
			font-size: 18px;
			position: relative;
			top: 5px;
			&.artmojo-icon-facebook {
				color: $facebook;
			}
			&.artmojo-icon-twitter {
				color: $twitter;
			}
			&.artmojo-icon-pinterest-p {
				color: $pinterest;
			}
		}
		.love {
			path {
				fill: #e42e2e;
			}
			&.ed {
				background: #e42e2e;
				color: $white;
				path {
					fill: $white;
				}
			}
		}
		&:hover {
			.btm {
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
			.opaque {
				opacity: 1;
			}
		}
	}
	.stream-body {
		> a {
			position: relative;
			float: left;
			width: 100%;
			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: "";
			}
			img {
				width: 100%;
			}
		}
	}
	.author{
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.author a {
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
		overflow: hidden;
		color: transparentize($white, .10);
	}
	.avatar {
		display: block;
		amp-img {
			height: 28px;
			vertical-align: middle;
		}
	}
	.avatar span {
		padding-left: 6px;
	}
	.timestamp {
		position: absolute;
		right: 20px;
		line-height: 60px;
	}
	.title {
		clear: left;
		padding: 20px 20px 0;
		font-size: 120%;
		margin-bottom: -10px;
		display: block;
		color: $black;
	}
	.desc {
		clear: left;
		color: #999;
		padding: 20px 20px 0;
		a {
			color: #d42f78;
			color: #566718;
			position: relative;
			text-decoration: underline;
		}
	}
	.reacted {
		margin: 20px 0 0px 20px;
		border-bottom: 1px solid #eeeff2;
		padding-bottom: 20px;
		width: calc(100% - 40px);
		span {
			background: url(/images/reactions.png) left top no-repeat/303px;
			float: left;
			height: 20px;
			width: 20px;
			margin-right: 5px;
			&.fav {
				background-position: -3px -3px;
			}
			&.loved {
				background-position: -25px -3px;
			}
			&.amazing {
				background-position: -47px -3px;
			}
			&.wow {
				background-position: -70px -3px;
			}
			&.rock {
				background-position: -92px -3px;
			}
			&.master {
				background-position: -138px -3px;
			}
		}
	}
	.stream-footer {
		border-top: 1px solid #f3f5f7;
		line-height: 50px;
		margin: 10px 20px 0;
		.views {
			color: #aab8c2;
			font-weight: 700;
			font-size: 13px;
		}
		.sub-actions-holder {
			position: relative;
			path {
				fill: #aab8c2;
			}
			&:hover {
				.action-buttons {
					-webkit-transform: scale(1, 1);
					-moz-transform: scale(1, 1);
					transform: scale(1, 1);  
					opacity:1;
				}
				path {
					fill: #ea4c89;
				}
			}
		}
		.action-buttons {
			box-shadow: 0 0 3px;
			border-radius: 200px;
			background: #FFF;
			position: absolute;
			width: 126px;
			z-index: 1;
			left: -98px;
			top: -29px;
			box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
			opacity:.3;
			-webkit-transform-origin: right;
			-moz-transform-origin: right;
			transform-origin: right;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			animation-fill-mode: forwards; 
			-webkit-transform: scale(0,1);
			-moz-transform: scale(0,1);
			transition: all 0.1s linear;
			-webkit-transition: all 0.1s linear;
			&.reactions {
				width: 252px;
				-webkit-transform-origin: center;
				transform-origin: center;
				button {
					margin: 5px;
				}
			}
			a {
				height: 32px;
				width: 32px;
				line-height: 22px;
				border-radius: 50%;
				float: left;
				margin: 5px;
				text-align: center;
				padding: 6px 0;
				color: #FFF;
				&.fb {
					background: $facebook;
				}
				&.tw {
					background: $twitter;
				}
				&.pint {
					background: $pinterest;
				}
				i {
					color: $white;
					margin: 0;
				}
			}
		}
	}
	.stream-footer > span,
	.stream-footer > a {
		margin-right: 20px;
	}
	.stream-footer button {
		border: 0;
		background: none;
		padding: 0;
		outline: none;
	}
	.stream-footer i {
		margin-right: 5px;
		font-size: 14px;
		color: #637480;
		&.ed {
			color: #e42e2e;
		}
	}
	li {
		list-style: none;
	}
	&.wookmark-initialised li {
		opacity: 1;
	}
}
.compose-wrapper {
	padding: 40px 20px;
	.compose-area {
		max-width: 840px;
		margin: 0 auto;
		background: #FFF;
		padding: 20px;
		color: #999;
		font-size: 14px;
		box-shadow: 0 0 10px #e8f0f3;
	}
	.attached-image {
		display: none;
		background: rgba(79, 195, 247, 0.04);
		padding:  20px;
		margin-bottom: 20px;
		border: 1px dashed #4fc3f7;
		position: relative;
		.delete {
			position: absolute;
			top: 5px;
			right: 9px;
			background: none;
			border: 0;
			font-size: 18px;
			opacity: .6;
			outline: none;
		}
	}
	.upload-image-form-wrapper {
		border: 2px solid #4ac9dd;
		background: rgba(74, 201, 221, 0.05);
		padding: 20px;
		margin-bottom: 20px;
		position: relative;
		input {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			cursor: pointer;
			z-index: 1;
			outline: none !important;
			opacity: 0;
		}
		h2,
		h4 {
			font-weight: 300;
		}
	}
	.ion-ios-images-outline {
		font-size: 60px;
	}
	.compose-actions-wrapper {
		padding: 20px 0 0;
		.btn {
			text-align: right;
			border: 0;
			margin-left: 20px;
			position: relative;
			padding: 9.5px 20px;
			overflow: hidden;
			outline: none;
			border-radius: 30px;
			font-weight: 500;
			text-transform: uppercase;
			i {
				margin-left: 10px;
				vertical-align: middle;
				font-size: 18px;
			}
		}
	}
	.title-wrapper input {
		width: 100%;
		font-size: 15px;
		height: 40px;
		outline: none;
		padding: 10px;
		margin-bottom: 20px;
	}
	.categories-wrapper select {
		box-shadow: inset 0px 1px 0px #fff;
		border: 1px solid #eeeff2;
		background: #fafafa;
		height: 38px;
		width: 100%;
		margin-bottom: 20px;
		border-radius: 0;
	}
	.textarea-wrapper {
		margin-bottom: 20px;
		textarea {
			display: block;
			border: 2px solid #f1f6f8;
			border-radius: 0;
			font-weight: 500;
			color: $black;
			font-family: inherit;
			width: 100%;
			background: #FFF;
			padding: 10px;
			resize: none;
			outline: none;
		}
	}
}

.swal2-icon.swal2-warning {
	font-family: inherit;
}
.swal2-modal h2 {
	color: #999;
}
.progress {
	overflow: hidden;
	height: 8px;
	margin-bottom: 20px;
	background-color: #dce5e8;
	border-radius: 4px;
	box-shadow: none;
	.progress-bar {
		background: #50c3e6;
		box-shadow: none;
	}
}
#artStackDropZone {	
	&.drag-enter {
		border: 2px solid #4ac9dd;
		background: #4ac9dd;
		color: $white;
	}
	.fp__btn {
		margin-top: 10px;
	}
	.source {
		font-size: 24px;
		margin: 20px 0;
		i {
			margin: 0 10px;
			&.icon-facebook {
				color: $facebook;
			}
			&.icon-instagram {
				color: $instagram;
			}
			&.icon-flickr {
				color: $flickr;
			}
			&.icon-dropbox {
				color: $primary;
			}
		}
	}
	.pick-file-info {
		margin-top: 40px;
	}
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: linear-gradient(-35deg, #b73183 5%, #c13678 30%, #db5453 85%);
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}
html.turbolinks-progress-bar::before {
	background: linear-gradient(-35deg, #b73183 5%, #c13678 30%, #db5453 85%) !important;
}


/******** Artwork page::Start ********/
.social-actions {
	width: 320px;
	display: table;
	text-align: center;
	.action {
		display: table-cell;
		height: 60px;
		min-width: 32px;
		text-align: center;
		margin: 0px 0 0px 10px;
		border-radius: 4px;
		vertical-align: middle;
		path {
			fill: $white;
		}
		span {
			color: $white;
			font-size: 12px;
			margin-top: 3px;
		}
	}
	.love {
		color: #1b283b;
	}
	.love path {
		fill: $white;
	}
	.love.ed {
		color: #e53935;
	}
	.love.ed path {
		fill: #e53935;
	}
}
.suggest-toolbar {
	height: 60px;
	padding: 0 0 0 15px;
	margin-top: -60px;
	overflow: hidden;
	//border-bottom: 1px solid #e1e8ed;
	position: relative;
	z-index: 1;
	//box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08);
	.suggest-logo {
		padding: 14px 0;
		margin-right: 5px;
	}
	/*
	.pint path {
		fill: #cb2027;
	}
	.twit path {
		fill: #32b4ff;
	}
	.fb path {
		fill: #3f51b5;
		} */
	}
	.suggestion-help {
		display: none;
		font-weight: 500;
		position: fixed;
		width: 400px;
		top: 0;
		left: 135px;
		padding: 19px;
		z-index: 9999;
		background: #ffc107;
		text-align: center;
	}
	.feedback-actions {
		position: relative;
		margin: -50px 20px 20px
	}
	.report {
		padding: 0 15px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
	}
	.suggest-brand {
		background: #32b4ff;
		line-height: 50px;
		float: left;
		padding: 14px 10px;
	}
	.art-desc {
		color: #1f2325;
		line-height: 50px;
		float: left;
		padding: 0 15px;
		background: #fff;
		margin-left: 20px;
		width: calc(100% - 610px);
		white-space: nowrap;
		width: calc(100% - 610px);
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.stats,
	.enable-sgst,
	.disable-sgst {
		border: none;
		background: $primary;
		color: $white;
		padding: 8px 15px 8px 39px;
		border-radius: 4px;
		font-weight: 600;
		box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
		margin-top: 12px;
		margin-right: 5px;
		position: relative;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .3px;
		svg {
			position: absolute;
			top: 8px;
			left: 13px;
		}
		path {
			fill: $white;
		}
		&:hover {
			color: $white;
			background: $primary;	
			path {
				fill: $white;
			}
		}
	}
	.disable-sgst {
		display: none;

	}
	.rating {
		margin-top: 10px;
		line-height: 26px;
		padding: 6px 0;
		border-radius: 4px;
		color: #FFA000;
		.total-rating {
			height: 24px;
			line-height: 24px;
			text-align: center;
			background: $gray;
			border-radius: 4px;
			padding: 0 7px;
			margin-top: 2px;
			color: $white;
			font-size: 13px;
			font-weight: 600;
			margin-left: 5px
		}
		.jq-ry-container {
			padding: 0 0px 0 10px;
		}
	}
	.artwork-container {
		background: $white;
		.artwork {
			width: calc(100% - 320px);
			float: left;
			position: relative;
			overflow: hidden;
		}
		.next {
			right: 0;
			span {
				right: 10px;
			}
		}
		.prev {
			left: 0;
			span {
				left: 10px;
			}
		}
		.next,
		.prev {
			position: absolute;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			transition: all 0.2s;
			top: 0;
			bottom: 0;
			width: 70px;
			z-index: 999;
			span {
				background-position: center center;
				background-repeat: no-repeat;
				background-color: transparent;
				border-radius: 5px;
				top: 50%;
				height: 60px;
				width: 50px;
				line-height: 60px;
				text-align: center;
				border-radius: 5px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				position: absolute;
			}
			&:hover {
				.arrow-wrapper {
					background: rgba(0,0,0,.2);
				}
			}
		}
		.arrow {
			fill: #525558;
			stroke: #fff;
			stroke-linejoin: round;
			stroke-width: 1px;
			opacity: 0.5;
			fill-rule: evenodd;
		}
		&:hover {
			.art-actions {
				.btn {
					opacity: 1;
				}
			}
		}
		.aside {
			background: #F9F9F9;
			overflow: hidden;
			height: calc( 100vh - 60px);
			width: 320px;
			float: right;
			position: relative;
			border-left: 1px solid #e2e2e2;
		}
		.tbl {
			display: table;
			table-layout: fixed;
			width: 100%;
		}
		.tblr {
			display: table-row;
		}
		.tbltd {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			padding: 0 70px;
			width: 100%;
		}
		.loader {
			background: $white url(/images/loader.gif) center no-repeat / 32px;
			width: 44px;
			height: 44px;
			box-shadow: 0 0 20px rgba(31, 37, 50, 0.2);
			border-radius: 50%;
			position: fixed;
			left: calc(50% - 224px);
			top: calc(50% - 24px);
		}
		.art {
			max-width: 100%;
		}
		.art + .art {
			margin-top: 20px;
		}
		.artwork .overlay {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;
			cursor: zoom-in;
		}
		.user {
			background: $white;
			position: absolute;
			padding: 20px;
			border-top: 1px solid #e2e2e2;
			bottom: 0;
			z-index: 1;
			width: 100%;
			&:before {
				display: none;
				content: "";
				z-index: -1;
				position: absolute;
				top: 0;
				box-shadow: 4px 0 14px 0 rgba(0,0,0,.1);
				width: 100%;
				height: 79px;
			}
		}
		.avatar-wrapper {
			float: left;
		}
		.details {
			margin-left: 46px;
			line-height: 1;
		}
		.details a {
			color: #314254;
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 3px;
			display: inline-block;
		}
		.sub-btn {
			border: 1px solid #45a4ff;
			background: none;
			color: #45a4ff;
			padding: 3px 7px;
			font-weight: 700;
			line-height: 1;
			outline: 0;
			text-transform: uppercase;
			font-size: 11px;
			&:hover {
				background: #45a4ff;
				color: $white;
			}
		}
		.btn-delete {
			background: #fcebea;
			color: #e53935;
			padding: 3px 8px 3px 8px;
		}
		.art-description {
			background: $white;
			font-size: 14px;
			padding: 20px;
			a {
				text-decoration: underline;
			}
		}
		.social-share-btns,
		.reactions {
			background: $white;
			padding: 0;
		}
		.nav-tabs.nav-justified {
			border-bottom: 1px solid #e2e2e2;
			border-top: 1px solid #e2e2e2;
		}
		.nav-tabs > li > a {
			background: none !important;
			border: 0 !important;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 12px;
			padding: 12px;
			color: #939fb1;
			.badge {
				margin-top: -2px;
				margin-left: 3px;
			}
			&:hover {
				color: $primary;
			}
		}
		.nav-tabs > li.active a {
			color: $primary;
			box-shadow: 0 2px 0 $primary;
			.badge {
				background: $primary;
			}
		}
		.comments-list {
			padding: 5px 0;
		}
		.comments-and-suggestions {
			overflow: auto;
		}
		.suggestion-sorter {
			padding: 10px;
			a {
				display: inline-block;
				padding: 1px 7px;
				&.active {
					background: #e4ebf0;
					color: #023161;
					border-radius: 4px;
				}
			}
		}
		#commentForm {
			position: relative;
		}
		.comments {
			font-size: 13px;
			height: calc(100vh - 209px);
			overflow: auto;
		}
		.comment-form {
			background: $white;
			margin: 20px;
			box-shadow: 0 1px 2px #e8e8e8;
			border: solid 1px #e8e8e8;
			padding: 10px;
			border-radius: 4px;
			.avatar {
				float: left;
				margin-right: 10px;
				padding-top: 8px;
			}
			.comment-form-textarea {
				color: $black;
				border: 0;
				background: #FFF;
				padding: 10px;
				resize: none;
				overflow: hidden;
				display: block;
				width: calc(100% - 34px);
				width: -webkit-calc(100% - 34px);
				width: -moz-calc(100% - 34px);
				margin: 0 0 10px 34px;
				outline: 0;
				border-radius: 3px;
				&:focus {
					border-color: #4fc3f7;
				}
			}
		}
		.comment {
			position: relative;
			padding: 8px 20px;
			&:last-child {
				margin-bottom:  20px;
			}
			.delete {
				position: absolute;
				display: none;
				top: 0;
				right: 0;
				background: none;
				border: 0;
				path {
					fill: #999;
				}
			}
			.avatar {
				float: left;
				margin-right: 10px;
				padding-top: 8px;
				svg {
					margin: 5px;
					display: block;
				}
				path {
					fill: #4caf50;
				}
			}
			.comment-data {
				color: #555;
				margin-left: 34px;
				line-height: 1.4;
				padding-top: 4px;
				p {
					margin:  0;
					span {
						margin-left: 5px;
					}
				}
				a {
					font-weight: 500;
					font-size: 14px;
				}
			}
			&:hover {
				background: $white;
				box-shadow: 0 0 0 1px #E2E2E2;
				.delete {
					display: block;
				}
			}
			&.new {
				background: #d9e1e8;
				.comment-data,
				a,
				.comment-timestamp {
					color: $black;
				}
			}
		}
		.comment-actions {
			margin-left: 34px;
			margin-top: 7px;
			path {
				fill: #acacaf;
			}
		}
		.is-upvoted {
			color: $success;
			path {
				fill: $success;
			}
		}
	}
	/******** Artwork page::End ********/
	.reactions {
		button {
			height: 32px;
			width: 32px;
			float: left;
			font-size: 18px;
			line-height: 38px;
			border: none;
			background: transparent;
			border-radius: 50%;
			margin: 0 0 0 10px;
			outline: none;
			padding: 0;
			color: #84770a;
			transition: -webkit-transform .2s ease;
			position: relative;
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 0 2px #ddd inset;
				transform: scale(1.4);
				-webkit-transform: scale(1.4);
				-moz-transform: scale(1.4);
			}
			span {
				background: url(/images/reactions.png) left top no-repeat / 500px;
				display: block;
				height: 32px;
				width: 33px;
			}
			&.fav span {
				background-position: -5px -5px;
			}
			&.loved span {
				background-position: -42px -5px;
			}
			&.amazing span {
				background-position: -79px -5px;
			}
			&.wow span {
				background-position: -116px -5px;
			}
			&.master span {
				background-position: -227px -5px;
			}
			&.rock span {
				background-position: -153px -5px;
			}
			&.ed .ticked {
				background: #5899ff url(/images/reactions.png) -16px -16px no-repeat / 190px;
				height: 14px;
				width: 14px;
				bottom: -2px;
				right: -2px;
				border: 1px solid #fff;
				position: absolute;
			}
		} 
	}

	.notification-center {
		-moz-transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		background-color: #ebf0f2;
		box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
		height: 100%;
		position: fixed;
		transition: all 200ms ease-out;
		width: 350px;
		z-index: 1000;
		right: -400px;
		top: 0;
		&.enabled {
			right: 0;
		}
		.heading {
			background: linear-gradient(315deg, #ff5990 0%, #ffad7f 100%);
			color: #FFF;
			h4 {
				font-size: 16px;
				line-height: 60px;
				margin: 0;
				position: relative;
			}
		}
		.notification-center-close {
			background: none;
			border-radius: 50%;
			font-weight: bold;
			padding: 0;
			border: 0;
			line-height: 1;
			right: 20px;
			top: 20px;
			position: absolute;
			outline: 0;
			path {
				fill: $white;
			}
		}
		.content {
			overflow: auto;
			padding: 15px;
			font-size: 14px;
			max-height: calc(100vh - 60px);
			max-height: -webkit-calc(100vh - 60px);
			max-height: -moz-calc(100vh - 60px);
		}
		.notification-item {
			background: $white;
			border-radius: 3px;
			margin-bottom: 10px;
			font-size: 14px;
			> a {
				padding: 15px;
				display: block;
			}
			strong {
				font-weight: 500;
			}
			.desc {
				margin-left: 42px;
			}
			&.commented {
				background: #eef9f8;
			}
			&.commented:hover {
				background: #daeae9;
			}
			&.reacted {
				background: #fbf8e4;
				&:hover {
					background: #efedda;
				}
			}
			&.loved {
				background: #fef2f2;
				&:hover {
					background: #efe0e0;
				}
			}
		}
	}
	.notification-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.1);
		-webkit-transform-origin: top;
		transform-origin: right;
		-webkit-animation-fill-mode: forwards;  
		animation-fill-mode: forwards; 
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
		&.enabled {
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}
	#myCanvas {
		display: none;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}



	.add-block-notice {
		background: #FFF;
		position: fixed;
		width: 100%;
		z-index: 200;
		bottom: 0;
		font-size: 16px;
		color: #000;
	}
	.banner-wrap {
		position: relative;
		padding: 30px;
		background:  #0070b3;
	}
	.add-block-notice .bg {
		background: url(/images/pttrn.png) repeat center center / 3.5%;
		opacity: .15;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.banner-wrap .close {
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: .7;
	}
	.banner-wrap .close path {
		fill:  #fff;
		z-index: 1;
	}
	.banner-wrap .content {
		position: relative;
		padding: 30px 30px 30px 120px;
		margin:  auto;
		background: #FFF;
		width: 700px;
	}
	.content h3 {
		margin: 0;
		font-size: 20px;
		font-weight: bold;
	}
	.content > img {
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.learn-how {
		border-radius: 0;
		padding: 6px 15px;
		margin-top: 12px;
		outline: 0;
	}
	.learn-how i {
		vertical-align: middle;
		margin-left: 5px;
	}
	.more-info {
		width: 700px;
		margin: 80px auto;
	}
	.more-info h2 {
		font-weight: 900;
		font-size: 36px;
		line-height: 1.3;
		margin-bottom: 40px;
	}
	.more-info h4 {
		color: #777;
		line-height: 1.4;
		font-size: 20px;
	}
	.terms-container {
		margin: 40px;
		padding: 40px;
		background: $white;
		box-shadow: 0 0 10px #e8f0f3;
		h1 {
			font-weight: 100;
			margin: 0;
			color: #000;
			padding-bottom: 25px;
			small {
				font-size: 16px;
				line-height: 20px;
				color: #777777;
				font-weight: 500;
				padding-top: 5px;
				display: block;
			}
		}
		p {
			font-size: 14px;
			line-height: 20px;
			padding-bottom: 18px;
			margin: 0;
		}
		h4 {
			font-size: 20px;
			line-height: 24px;
			font-weight: 500;
			color: #0e0e0f;
			padding: 10px 0;
		}
	}
	.empty-art {
		padding: 50px;
		margin-left: -24px;
		position: relative;
		font-size: 16px;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			content: "";
			opacity: .6;
		}
		h2 {
			font-size: 40px;
		}
		.empty-content {
			padding: 30px;
			position: relative;
			background: $white;
			box-shadow: 0 0 20px #d0dade;
			border-radius: 50%;
			width: 600px;
			height: 600px;
			padding: 87px;
			margin: auto;
		}
	}
	.comment-tooltip {
		background: #fff;
		box-shadow: 0px 0px 13px -6px rgba(0, 0, 0, 0.75);
		padding: 15px;
		border-radius: 3px;
		position: fixed;
		width: 400px;
		height: 204px;
		left: - 1000px;
		top: - 1000px;
		transition: opacity 0.2s linear;
		z-index: 99999;
		opacity: 0;
		&:before {
			display: block;
			height: 0;
			width: 0;
			border-top: 5px solid transparent;
			border-right: 5px solid #fff;
			border-bottom: 5px solid transparent;
			position: absolute;
			content: "";
			left: -4px;
			top: 20px;
			z-index: 999;
		}
		label {
			font-weight: 400;
			display: block;
			margin-top: -6px;
			margin-bottom: 18px;
		}
		textarea {
			border-color: rgb(225, 232, 237);
			border-radius: 3px;
			font-size: 14px;
			padding: 15px;
			margin-bottom: 15px;
			resize: none;
		}
	}
	.toast {
		position: fixed;
		bottom: -400px;
		left: 16px;
		width: 400px;
		padding: 10px 10px 5px;
		background: transparentize($white, .1);
		border: 2px solid #c00;
		z-index: 1;
		opacity: 0;
		transition: all 0.2s linear;
		.avatar {
			margin-right: 10px;
		}
		.toast-close {
			font-size: 18px;
			font-weight: bold;
			line-height: 30px;
			width: 30px;
			position: absolute;
			top: 5px;
			right: 5px;
			text-align: center;
			color: $black;
			opacity: .4;
			cursor: pointer;
		}
		.toast-meta {
			margin-left: 42px;
			padding-right: 30px;
			.name {
				font-weight: 500;
			}
			p {
				margin: 0;
				+ p {
					margin-top: 5px;
				}
			}
			small {
				+ small {
					position: relative;
					margin-left: 10px;
					padding-left: 9px;
					&:before {
						content: '·';
						position: absolute;
						height: 100%;
						width: 1px;
						left: -5px;
						font-size: 20px;
						opacity: .3;
						top: -8px;
					}
				}
			}
		}
		&.active {
			opacity: 1;
			bottom: 16px;
		}
	}
	.view-new-art {
		position: fixed;
		opacity: 0;
		background: $white;
		color: $primary;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
		padding: 4px 20px;
		border-radius: 80px;
		top: 70px;
		left: calc(50% - 80px);
		font-weight: 500;
		text-transform: uppercase;
		font-size: 13px;
		z-index: -1111;
		&.active {
			opacity: 1;
			z-index: 1;
		}
	}

	.refresh-suggestions {
		background: #4caf50;
		color: #FFF !important;
		display: none;
		padding: 8px;
		font-weight: 500;
		transition: box-shadow 0.2s linear;
	}
	.refresh-suggestions:hover {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25) inset;
	}
	.refresh-suggestions path {
		fill: #fff
	}

	.top-wrapper {
        background: url(/images/landing/24.jpg) center -250px / cover no-repeat;
        background-size: cover, 29em;
        background-position: top center;
        padding-bottom: 50px;
        position: relative;
        padding: 260px 20px;
        color: #FFF;
        top: -60px;
        height: -webkit-calc(100vh - 300px);
        min-height: 640px;
        display: flex;
        align-items: center;
        &.quest {
        	//background-image: linear-gradient(315deg, #E59BB3 0%, #CB9577 100%);
        	background: linear-gradient(315deg, #9fe0d6 0%, #69b9e7 100%);
        	min-height: 500px;
        	height: 500px;
        	padding: 80px 20px;
        	&:before {
        		display: none;
        	}
        }
        &:before {
        	position: absolute;
        	content: '';
        	top: 0;
        	bottom: 0;
        	left: 0;
        	right: 0;
        	background: rgba(0,0,0,.3);
        	z-index: 0
        }
        .content {
        	max-width: 900px;
        	margin: 0 auto;
        	position: relative;
        	h1 {
        		font-weight: 400;
        		font-size: 42px;
        		margin-bottom: 20px;
        	}
        	h2 {
        		font-weight: 300;
        		margin-bottom: 20px;
        	}
        	p {
        		font-size: 18px;
        	}
        }
        .actions {
        	margin-top: 50px;
        	a {
        		font-size: 16px !important;
        		font-weight: normal !important;
        		padding: 9px 35px;
        		vertical-align: middle;
        		margin-bottom: 20px;
        	}
        	.tour {
        		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.52) inset;
        		color: #FFF;
        		border-radius: 40px;
        		vertical-align: middle;
        	}
        	span {
        		margin: 0px 20px 20px;
			    display: inline-block;
			    vertical-align: middle;
        	}
        }
    }
    .header_fader_wrapper {
    	margin-top: -50px;
    	width: 100%;
    	display: block;
    	margin-bottom: 0px;
    	max-width: 100%;
    	height: 50px;
    	position: relative;
    	.fade {
    		display: block;
    		background: white;
    		opacity: 0.8;
    		height: 180px;
    		width: 150%;
    		margin-left: -25%;
    		position: absolute;
    		&.one {
    			transform: rotate(3deg);
    		}
    		&.two {
    			transform: rotate(-1deg);
    		}
    		&.three {
    			opacity: 0.5;
    			margin-top: -20px;
    			transform: rotate(2deg);
    		}
    		&.four {
    			opacity: 0.5;
    			margin-top: -30px;
    			transform: rotate(-3deg);
    		}
    		&.five {
    			opacity: 0.5;
    			transform: rotate(-4deg);
    		}
    		&.six {
    			opacity: 0.4;
    			transform: rotate(-1deg);
    			margin-top: -25px;
    		}
    	}

    }

    .navbar-trans {
    	position: absolute;
    	background: transparent;
    }
    .navbar-trans .navbar-form input {
    	background: #fff;
    	font-weight: normal;
    }
    .navbar-trans .navbar-nav li a,
    .navbar-trans .navbar-nav li a:hover {
    	color: #FFF
    }
    .navbar-trans .navbar-nav li a:hover path,
    .navbar-trans .navbar-nav li a:hover circle {
    	fill: #FFF
    }
    .navbar-trans .navbar-form input::placeholder,
    .navbar-trans .navbar-form i {
    	color: #999;
    }
    .navbar-trans .navbar-form input::-webkit-input-placeholder {
    	color: #999;
    }
    .navbar-trans .navbar-form input::-moz-placeholder {
    	color: #999;
    }
    .navbar-trans .navbar-form input:-ms-input-placeholder {
    	color: #999;
    }
    .navbar-trans .navbar-form input:-moz-placeholder {
    	color: #999;
    }
    .home-container {
    	font-size: 18px;
    	background: #FFF;
    }
    .container {
    	max-width: 960px;
    }
    .banner {
    	position: relative;
    	height: 700px;
    	background: url(/images/banner2.jpg) left bottom repeat-x / 80%;
    }
    .home-container h2 {
    	font-size: 36px;
    	font-weight: 200;
    	line-height: 1.3;
    	margin: 0;
    }
    .feature-list {
    	margin-top: 125px;
    }
    h2 + p {
    	margin: 26px auto 0;
    	opacity: .7;
    }
    .get-started {
    	font-size: 16px;
    	line-height: 36px;
    	padding: 2px 35px;
    	display: inline-block;
    	margin-top: 45px;
    }
    .feature-list .features {
    	margin: 50px auto 0;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
    	-webkit-flex-direction: row;
    	-moz-box-orient: horizontal;
    	-moz-box-direction: normal;
    	-ms-flex-direction: row;
    	flex-direction: row;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	-moz-box-align: center;
    	-ms-flex-align: center;
    	align-items: center;
    	-webkit-box-pack: justify;
    	-webkit-justify-content: space-between;
    	-moz-box-pack: justify;
    	-ms-flex-pack: justify;
    	justify-content: space-between;
    	-webkit-flex-flow: row wrap;
    	-ms-flex-flow: row wrap;
    	.wrap {
    		-webkit-flex-basis: 33.3%;
    		-ms-flex-preferred-size: 33.3%;
    		flex-basis: 33.3%;
    		-webkit-align-self: flex-start;
    		-ms-flex-item-align: start;
    		align-self: flex-start;
    		width: 100%;
    		margin: 30px 0;
    		text-align: left;
    		.icon {
    			width: 34px;
    			margin-bottom: 16px;
    			display: inline-block;
    			position: relative;
    			vertical-align: middle;
    			-webkit-transition: 0.2s transform ease-in-out;
    			-moz-transition: 0.2s transform ease-in-out;
    			transition: 0.2s transform ease-in-out;
    		}
    		.title,
    		.description {
    			width: -webkit-calc(100% - 40px);
    			width: -moz-calc(100% - 40px);
    			width: calc(100% - 40px);
    		}
    		.title {
    			color: #525558;
    			font-size: 18px;
    			padding-bottom: 6px;
    			font-weight: 500;
    		}
    		.description {
    			font-size: 14px;
    			line-height: 1.5em;
    			color: #71767a;
    			opacity: 0.7;
    		}
    	}
    }
    .footer {
    	margin-top: 125px;
    	-webkit-box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 40px inset;
    	-moz-box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 40px inset;
    	box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 40px inset;
    	background: #FAFCFD;
    	padding: 80px 80px 60px;
    	hr {
    		margin: 60px 0 0
    	}
    	.copy {
    		padding: 20px 0;
    		font-size: 13px;
    	}
    	.nav-pills a {
    		padding: 0 20px 0 0;
    		color: #3f575d;
    		background: none !important
    	}
    }





    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    	.navbar {
    		padding: 0 16px;
    	}
    	.streamline {
    		margin: 0 20px;
    		.stream {
    			width: 100%;
    		}
    	}
    	.stacker-streamline {
    		.stacker {
    			width: calc(100% - 30px);
    			width: -webkit-calc(100% - 30px);
    			width: -moz-calc(100% - 30px);
    		}
    	}
    	.artwork-container {
    		.artwork {
    			width: 100%;
    		}
    	}
    	.banner {
    		height: 500px;
    		background: url(/images/banner2.jpg) center bottom repeat-x / 200%;
    	}
    	.feature-list .features .wrap {
    		flex-basis: 100%;
    		margin: 20px 0;
    	}
    	.feature-list .features .wrap .icon {
    		float: left;
    	}
    	.feature-list .features .wrap .title,
    	.feature-list .features .wrap .description {
    		margin-left: 72px;
    		width: auto;
    	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	.banner {
    		height: 600px;
    		background: url(/images/banner2.jpg) center bottom repeat-x / 200%;
    	}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.navbar {
    		padding: 0 16px;
    	}
    	.streamline {
    		margin: 16px 0 0 16px;
    		.stream {
    			width: calc(50% - 16px);
    			width: -webkit-calc(50% - 16px);
    			width: -moz-calc(50% - 16px);
    		}
    	}
    	.stacker-streamline {
    		.stacker {
    			width: calc(50% - 16px);
    			width: -webkit-calc(50% - 16px);
    			width: -moz-calc(50% - 16px);
    		}
    	}
    	.artwork-container {
    		.artwork {
    			width: calc(100% - 320px);
    		}
    	}
    	.banner {
    		height: 700px;
    		background: url(/images/banner2.jpg) center bottom repeat-x/150%;
    	}
    	.feature-list .features .wrap {
    		flex-basis: 50%;
    		margin: 20px 0;
    	}
    	.feature-list .features .wrap .icon {
    		float: left;
    	}
    	.feature-list .features .wrap .title,
    	.feature-list .features .wrap .description {
    		margin-left: 72px;
    		width: calc(100% - 100px);
    	}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.streamline {
    		.stream {
    			width: calc(33.333% - 16px);
    			width: -webkit-calc(33.333% - 16px);
    			width: -moz-calc(33.333% - 16px);
    		}
    	}
    	.stacker-streamline {
    		.stacker {
    			width: calc(33.333% - 16px);
    			width: -webkit-calc(33.333% - 16px);
    			width: -moz-calc(33.333% - 16px);
    		}
    	}
    	.banner {
    		height: 700px;
    		background: url(/images/banner2.jpg) left bottom repeat-x / 80%;
    	}

    	.feature-list .features .wrap {
    		flex-basis: 33.33%;
    		margin: 20px 0;
    	}
    	.feature-list .features .wrap .icon {
    		float: none;
    	}
    	.feature-list .features .wrap .title,
    	.feature-list .features .wrap .description {
    		margin-left: 0;
    		width: calc(100% - 40px);
    	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.stacker-streamline {
    		.stacker {
    			width: calc(25% - 16px);
    			width: -webkit-calc(25% - 16px);
    			width: -moz-calc(25% - 16px);
    		}
    	}
    	.streamline {
    		.stream {
    			width: calc(25% - 16px);
    			width: -webkit-calc(25% - 16px);
    			width: -moz-calc(25% - 16px);
    		}
    	}
    }