@charset "UTF-8";

@font-face {
  font-family: "artmojo";
  src:url("/fonts/artmojo.eot");
  src:url("/fonts/artmojo.eot?#iefix") format("embedded-opentype"),
    url("/fonts/artmojo.woff") format("woff"),
    url("/fonts/artmojo.ttf") format("truetype"),
    url("/fonts/artmojo.svg#artmojo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "artmojo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="artmojo-icon-"]:before,
[class*=" artmojo-icon-"]:before {
  font-family: "artmojo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.artmojo-icon-facebook:before {
  content: "\61";
}
.artmojo-icon-twitter:before {
  content: "\62";
}
.artmojo-icon-pinterest-p:before {
  content: "\63";
}
.artmojo-icon-envelope-o:before {
  content: "\64";
}
.artmojo-icon-whatsapp:before {
  content: "\65";
}
.artmojo-icon-search:before {
  content: "\66";
}
.artmojo-icon-trophy:before {
  content: "\67";
}
.artmojo-icon-chevron-down:before {
  content: "\68";
}
.artmojo-icon-chevron-left:before {
  content: "\69";
}
.artmojo-icon-chevron-up:before {
  content: "\6a";
}
.artmojo-icon-chevron-right:before {
  content: "\6b";
}
.artmojo-icon-eye:before {
  content: "\6c";
}
.artmojo-icon-heart-empty:before {
  content: "\6f";
}
.artmojo-icon-heart-1:before {
  content: "\70";
}
.artmojo-icon-comment:before {
  content: "\6d";
}
.artmojo-icon-certificate:before {
  content: "\6e";
}
.artmojo-icon-chart-area:before {
  content: "\71";
}
.artmojo-icon-bell:before {
  content: "\72";
}
.artmojo-icon-cancel:before {
  content: "\73";
}
.artmojo-icon-cancel-circled:before {
  content: "\74";
}
.artmojo-icon-times-circle-o:before {
  content: "\75";
}
.artmojo-icon-settings-streamline-1:before {
  content: "\76";
}
.artmojo-icon-link:before {
  content: "\77";
}
.artmojo-icon-share:before {
  content: "\78";
}
.artmojo-icon-google-plus:before {
  content: "\79";
}
.artmojo-icon-google:before {
  content: "\7a";
}
.artmojo-icon-stumbleupon-circle:before {
  content: "\41";
}
.artmojo-icon-stumbleupon:before {
  content: "\42";
}
.artmojo-icon-resize-full:before {
  content: "\43";
}
.artmojo-icon-screen-full:before {
  content: "\44";
}
.artmojo-icon-screen-normal:before {
  content: "\45";
}
.artmojo-icon-compass:before {
  content: "\46";
}
.artmojo-icon-flag-o:before {
  content: "\48";
}
.artmojo-icon-retweet:before {
  content: "\47";
}
.artmojo-icon-smile-o:before {
  content: "\49";
}
.artmojo-icon-dot:before {
  content: "\4a";
}
.artmojo-icon-dot-3:before {
  content: "\4b";
}
.artmojo-icon-instagram:before {
  content: "\4c";
}