$white: #FFF;
$black: #000;
$gray: #999;
//$primary: #1f88ff;
//$primary: #46a7f8;
$primary: #3083f0;
$primaryNew: #20CDEF;
$primaryBtn: #ff690f;
$success: #19b934;
$twitter: #03a9f4;
$facebook: #3f51b5;
$google-plus: #ff6d4b;
$google: #f4511e;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;